body {
  font-family: sans-serif;
  margin: auto;
  max-width: 1280px;
  background-color: cornflowerblue;
}



.titulo {
  color:brown;
  text-align: center;
  font-size: 30px;
  text-decoration: none;
  font-family:'Courier New', Courier, monospace;
}


.nom {
  text-align: center;
  color:black;
  font-weight: bold;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.mat{
  font-weight: bold;
  float:left;
  margin-left: 14rem; 
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  color:darkgreen;
}
.semestre{
  
  color:blue;
  font-weight: bold;
  float: left;
  margin-left: 7rem;  
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}


.img {
  display: flex;
  align-items: center;
  justify-content: center
    
}


